@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body{
    background-image: url("../image/back.jpg");
    font-family: Montserrat, sans-serif;
}

.button_tinder{
    border : solid #dadae0;
    border-radius : 50%;
    height : 75px;
    width : 75px;
    margin: 10px;
    background-color: ghostwhite;
}

footer {
    position: fixed ;
    text-align: center;
    color: ghostwhite;
    bottom: 0  ;
    width: 100%  ;
    height: 50px  ;
    background-color: #609360;
    margin-bottom: 10px;
    border-radius: 5px;
}

#menu{
    background-color: #9ebbef;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px;
    vertical-align: middle;
}

#titlelogo{
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

#buttonFalse {
    margin-right: 20%;
    color : red;
}

#buttonTrue{
    margin-left: 20%;
    color : green;
}


#card{
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
    background-color: ghostwhite;
    border-radius: 5px;
    height: 420px;
    margin-inside: 10px;
    border: 3px solid cornflowerblue;
}

#question{
    font-size: larger;
}

#card{
    height: 420px;
}

.hide{
    display: none;
}

