body{
    display: grid;
    place-items: center;
    background-image: url("../image/back.jpg");
}
#eggHorloge{
    height: 500px;
    width: 500px;
    background-image: url("../image/horloge_easter_egg.png");
    background-repeat: no-repeat;
}